<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UI.Mecano.Dashboard"
            android:exported="false" />
        <activity
            android:name=".UI.common.ResetPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".UI.common.CheckEmailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.driver.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Chef.Pending"
            android:exported="false" />
        <activity
            android:name=".UI.Chef.NotificationActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".UI.driver.restActivity"
            android:exported="false" />
        <activity
            android:name=".communication"
            android:exported="false" />
        <activity
            android:name=".UI.Mecano.Tasks_activity"
            android:exported="false" />
        <activity
            android:name=".UI.Mecano.Rapport_activity"
            android:exported="false" />
        <activity
            android:name=".UI.Mecano.mecano_main"
            android:exported="false" />
        <activity
            android:name=".UI.driver.FuelingAct"
            android:exported="false" />
        <activity
            android:name=".UI.driver.stops"
            android:exported="false" />
        <activity
            android:name=".UI.driver.Plannification"
            android:exported="false"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Gere_utlisateur"
            android:exported="false" />
        <activity
            android:name=".Admin_activity"
            android:exported="false" />
        <activity
            android:name=".MecanoActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Chef.chefActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Chef.LocationActivity"
            android:exported="false" /> <!-- Intent filters, if any -->
        <activity
            android:name=".UI.common.Passwordmodif"
            android:exported="false"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".UI.common.Avatar_selection"
            android:exported="false" />
        <activity
            android:name=".UI.driver.scan"
            android:exported="false"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".UI.driver.Qrscan"
            android:exported="false" />
        <activity
            android:name=".UI.common.profile"
            android:exported="false"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".UI.common.login"
            android:exported="false" />
        <activity
            android:name=".UI.driver.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.common.loading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>